#logo {
    height: 50px;
    margin-top: -15px;
}
.navbar-brand {
    padding-left: 10px;
}

.navbar-inverse {
    background-color: rgba(50, 88, 170, 0.7)!important;
}

.navbar-right li a {
    color: white!important;
    padding: 20px;
    margin-right: 20px;
}

.navbar-right li a:hover {
    color: black!important;
}


.carousel {
    height: 40vw;
    margin-top: 50px;
}

.carousel-control {
    z-index: 999;
    height: 40vw;
}


.container-fluid {
    padding: 0px!important;
    margin: 0!important;
    overflow: hidden;
}

.carousel-inner  {
    height: 40vw;
}

.welcome p {
    font-size: 2.3vw;
    padding-top: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.welcome {
    text-align: center;
    background: rgba(50, 88, 170, 0.7);
    position: relative;
    top: -10vw;
    width: 100%;
    height: 10vw;
    color:white;
    bottom: 0;
}

.welcome2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    top: -6vw;
    text-align: center;
    position: relative;
    width: 100%;
    color: rgba(6, 5, 43, 0.747);
    font-size: 6vw;
}


.inline li  {
    margin-top: 0;
    display: inline-block!important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding-left: 12.5%;  
    padding-right: 12.5%; 
    margin-right: 3%;
    color: rgba(6, 5, 43, 0.747);
    background-color: rgba(107, 139, 241, 0.295);
    padding-bottom: 1em;
}

.inline li h1 {
    font-family: fantasy;
    font-size: 1.5em;
    margin: 1em 0 0 0;
    padding: 0 0 0 0;
}

.news-content {
    margin-top: 4em;
    background-color:rgba(50, 88, 170);
    max-height: 200px;
    display: inline-flex;
    width: 100%;
}

#news-img {
    max-width: 25vw;
    right: 0;
    top: 0;
}

.news-content p{
    padding-top: 1em;
    color: white;
    font-size: 2vmax;
    width: 70vw;
    margin-left: 3%;
    margin-right: 5%;
    text-align: center;
}

.program-content {
    text-align: center;
    width: 100%;
    margin-top: 4em;
    color:white;
    line-height: 3em;
    font-size: 1.3em;
}

.program-block {
    padding-top: 2em;
    display: inline-block;
    width: 300px;
    height: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.program-block h1{
    font-size: 2em;
    text-shadow: 1px 1px black;
}

#robotics {
    background-color: #2a4d69;
}

#coding {
    background-color:  #4b86b4;
}

#math {
    background-color:  #0392cf;
}

#summer {
    background-color:  #63ace5;
}