#logo {
    height: 50px;
    margin-top: -15px;
}
.navbar-brand {
    padding-left: 10px;
}

.navbar-inverse {
    background-color: rgba(50, 88, 170, 0.7)!important;
}

.navbar-right li a {
    color: white!important;
    padding: 20px;
    margin-right: 20px;
}

.navbar-right li a:hover {
    color: black!important;
}


.carousel {
    height: 40vw;
    margin-top: 50px;
}

.carousel-control {
    z-index: 999;
    height: 40vw;
}


.container-fluid {
    padding: 0px!important;
    margin: 0!important;
    overflow: hidden;
}

.carousel-inner  {
    height: 40vw;
}

.welcome p {
    font-size: 2.3vw;
    padding-top: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.welcome {
    text-align: center;
    background: rgba(50, 88, 170, 0.7);
    position: relative;
    top: -10vw;
    width: 100%;
    height: 10vw;
    color:white;
    bottom: 0;
}

.welcome2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    top: -6vw;
    text-align: center;
    position: relative;
    width: 100%;
    color: rgba(6, 5, 43, 0.747);
    font-size: 6vw;
}


.inline li  {
    margin-top: 0;
    display: inline-block!important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding-left: 12.5%;  
    padding-right: 12.5%; 
    margin-right: 3%;
    color: rgba(6, 5, 43, 0.747);
    background-color: rgba(107, 139, 241, 0.295);
    padding-bottom: 1em;
}

.inline li h1 {
    font-family: fantasy;
    font-size: 1.5em;
    margin: 1em 0 0 0;
    padding: 0 0 0 0;
}

.news-content {
    margin-top: 4em;
    background-color:rgba(50, 88, 170);
    max-height: 200px;
    display: inline-flex;
    width: 100%;
}

#news-img {
    max-width: 25vw;
    right: 0;
    top: 0;
}

.news-content p{
    padding-top: 1em;
    color: white;
    font-size: 2vmax;
    width: 70vw;
    margin-left: 3%;
    margin-right: 5%;
    text-align: center;
}

.program-content {
    text-align: center;
    width: 100%;
    margin-top: 4em;
    color:white;
    line-height: 3em;
    font-size: 1.3em;
}

.program-block {
    padding-top: 2em;
    display: inline-block;
    width: 300px;
    height: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.program-block h1{
    font-size: 2em;
    text-shadow: 1px 1px black;
}

#robotics {
    background-color: #2a4d69;
}

#coding {
    background-color:  #4b86b4;
}

#math {
    background-color:  #0392cf;
}

#summer {
    background-color:  #63ace5;
}

.project-content {
    text-align: center;
    color: white;
    background-size: 50%;
    margin-top: 2em;
    height: 250px;
    padding-top: 1em;
    font-size: 1.5em;

    background: #de6161;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.project-content strong {
    font-size: 4em;
}

.help-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2em;
    padding-bottom: 2em;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.help-content h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
}

.help-content h3 {
    font-family: fantasy;
    color: rgba(0, 4, 63, 0.904);
}

.contact-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2em;
    padding-bottom: 2em;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}

.contact-content h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    text-align: center;
}

.contact-content h3 {
    text-align: center;
    font-family: fantasy;
    color: rgba(0, 4, 63, 0.904);
}

.form-horizontal {
    width: 500px;
    margin: auto;
}









/* FOR FOOTER */
.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}
#social-gh:hover{
    color: #6e5494;
}

#my-info {
    float: right;
}

/* END OF FOOTER*/


/* FOR SUBPAGE*/
.page-title {
    font-size: 4em;
    text-align: center;
    margin: 50px;
    padding-top: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* END OF SUBPAGE*/

/* NEWS */
.news-block {
    background: rgba(75, 75, 247, 0.678);
}

.news-block .news-text {
    margin-left: 5%;
    width: 50%;
    font-size: 1.3em;
    display: inline-block;
    color:white;
}

.news-block .news-img {
    right: 0;
    display: inline-block;
    margin-left: 5%;
}

.news-block .news-img img {
    width: 450px;
}


/* END OF NEWS*/