.list-block {
  width: 100%;
  padding-top: 0;
  display: inline-block;
  background-color: rgb(118, 131, 247);
}

.list-block img {
  min-width: 450px;
  width: 39vmax;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5em;
}


.list-block p {
  text-align: center;
  font-size: 2.5em;
  color: rgb(253, 253, 253);
  background-color: rgba(0, 0, 0, 0.459);
}